{{! Put your menu content here or make this file empty in order to remove the menu }}
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">Latest blogposts</a>
		<a href="/patterns" class="menu__item">Patterns</a>
		<a href="/about" class="menu__item">About</a>
		<a href="/etsy-shop" class="menu__item">Etsy shop</a>
	{{! <a href="https://facebook.com/bylovest" class="menu__item">Facebook</a> }}
	</div>
</nav>